<app-navbar></app-navbar>
<div class="footer-gap">
  <Div class="container">
    <!-- -----------company description--------- -->

    <h4 class="pt-2">About Creative Agency</h4>
    <p class="desc">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore debitis
      minima ab dolores repellat expedita ipsa earum doloremque repudiandae
      minus laboriosam itaque dicta tempore reprehenderit neque quibusdam
      numquam, quia in unde quas sed qui iusto consectetur iste. Eveniet
      distinctio cumque architecto voluptatum possimus, voluptate vel molestias
      beatae illum nesciunt impedit mollitia ex, delectus similique veniam
      obcaecati voluptates aliquam eaque, deserunt reiciendis provident ut culpa
      quos! Molestias, consequatur dolorum ex, praesentium modi sint placeat
      nihil qui atque in sunt officia omnis beatae dolores! Enim fugit
      necessitatibus voluptates commodi, eius sapiente minus quas vitae
      consequuntur adipisci a quos repellat libero sunt tempora.
    </p>

    <!-- ------------job description----------- -->
    <h4>Job Description</h4>
    <p class="desc">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore quidem
      reiciendis odit ullam. Dolore magnam quasi reprehenderit sed, illo cum rem
      accusamus, ipsam maxime repellat iste ut facere aspernatur labore
      necessitatibus libero pariatur commodi eum perspiciatis. Ad, nostrum atque
      optio molestiae repellendus vitae iste molestias quam, itaque dolorem
      deleniti hic?
    </p>
    <h4>Application for Night Guard</h4>

    <!-- -----------application form--------- -->

    <div class="row">
      <div class="col-lg-6">
        <form action="">
          <!-- ----------- full name ------------ -->
          <h6 class="form-title">Full Name</h6>
          <div class="form-group">
            <input
              pInputText
              class="form-control valid"
              name="name"
              id="name"
              type="text"
              onfocus="this.placeholder = ''"
              onblur="this.placeholder = 'Enter your name'"
            />
          </div>
          <!-- ---------------gender----------- -->

          <h6 class="form-title">Select Gender</h6>
          <div class="form-group">
            <select class="form-select" aria-label="Default select example">
              <!-- <option selected>Select gender</option> -->
              <option value="male">Male</option>
              <option value="female">Female</option>
            </select>
          </div>
          <!-- ------------------date of birth--------- -->
          <h6 class="form-title">Date of Birth</h6>
          <div class="form-group">
            <input
              pInputText
              class="form-control valid"
              name="name"
              id="name"
              type="date"
              onfocus="this.placeholder = ''"
              onblur="this.placeholder = 'Enter your name'"
            />
          </div>

          <!-- ------------------location---------- -->
          <h6 class="form-title">Location</h6>
          <div class="form-group">
            <input
              pInputText
              class="form-control valid"
              name="name"
              id="name"
              type="text"
              onfocus="this.placeholder = ''"
              onblur="this.placeholder = 'Enter your name'"
            />
          </div>
          <!-- -------------postal address-------- -->
          <h6 class="form-title">Postal Address</h6>
          <div class="form-group">
            <input
              pInputText
              class="form-control valid"
              name="name"
              id="name"
              type="text"
              onfocus="this.placeholder = ''"
              onblur="this.placeholder = 'Enter your name'"
            />
          </div>

          <!-- ----------------educational background--------- -->
          <h6 class="form-title">Select Highest Educational Level</h6>
          <div class="form-group">
            <select class="form-select" aria-label="Default select example">
              <!-- <option selected>Select highest educational level</option> -->
              <option value="elimentary">Elimentary Level</option>
              <option value="highSchool">High School</option>
              <option value="tertiary">Tertiary Level</option>
            </select>
          </div>

          <!-- -------------identification card type--------- -->
          <h6 class="form-title">Identification Type</h6>
          <div class="form-group">
            <select class="form-select" aria-label="Default select example">
              <!-- <option selected>Identification Type</option> -->
              <option value="nationalId">National ID Card</option>
              <option value="driversLincense">Drivers License</option>

              <option value="votersId">Voters ID Card</option>
            </select>
          </div>
          <!-- --------------- card number------------ -->
          <h6 class="form-title">Identification Number</h6>
          <div class="form-group">
            <input
              pInputText
              class="form-control valid"
              name="name"
              id="name"
              type="text"
              onfocus="this.placeholder = ''"
              onblur="this.placeholder = 'Enter your name'"
            />
          </div>
          <!-- -----------pdf of card ----------- -->
          <h6 class="form-title">PDF of Identification Card</h6>
          <div class="input-group mb-3">
            <input
              type="file"
              class="form-control"
              id="inputGroupFile02"
              accept=".pdf"
            />
            <!-- <label class="input-group-text" for="inputGroupFile02"
              >Upload</label
            > -->
          </div>
          <!-- -------------disclaimer----------- -->
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault"
            />
            <label class="form-check-label" for="flexCheckDefault">
              I hereby declare that the information provided is true and
              correct. I also understand that any willful dishonesty may render
              for refusal of this application or immediate termination of
              employment.
            </label>
          </div>

          <!-- --------------submit button--------- -->
          <div class="sub-button">
            <button class="btn btn-info">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </Div>
</div>
<app-footer></app-footer>
