<app-navbar></app-navbar>
<div class="footer-gap">
  <Div class="container">
    <!-- -----------company description--------- -->

    <h4 class="pt-2">About {{ company["companyName"] }}</h4>
    <p class="desc">
      {{ company["companyDescription"] }}
    </p>

    <!-- ------------job description----------- -->
    <h4>Job Description</h4>
    <p class="desc">
      {{ company["jobDescription"] }}
    </p>
    <h4>Application for {{ company["officeTitle"] }}</h4>

    <!-- -----------application form--------- -->

    <div class="row">
      <div class="col-lg-6">
        <form [formGroup]="applicationForm" (ngSubmit)="onSubmit()">
          <!-- ----------- full name ------------ -->
          <h6 class="form-title">Full Name</h6>
          <div class="form-group">
            <input
              pInputText
              class="form-control"
              name="userName"
              id="userName"
              type="text"
              onfocus="this.placeholder = ''"
              onblur="this.placeholder = 'Enter your name'"
              formControlName="userName"
              required
            />
          </div>
          <!-- ----------- contact number ------------ -->
          <h6 class="form-title">Contact Number</h6>
          <div class="form-group">
            <input
              pInputText
              class="form-control"
              name="userContact"
              id="userContact"
              type="text"
              onfocus="this.placeholder = ''"
              onblur="this.placeholder = 'Enter your contact'"
              formControlName="userContact"
              required
            />
          </div>
          <!-- ---------------gender----------- -->

          <h6 class="form-title">Select Gender</h6>
          <div class="form-group">
            <select
              class="form-select"
              aria-label="Default select gender"
              formControlName="userGender"
              required
            >
              <!-- <option selected>Select gender</option> -->
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
          </div>
          <!-- ------------------date of birth--------- -->
          <h6 class="form-title">Date of Birth</h6>
          <div class="form-group">
            <input
              pInputText
              class="form-control"
              name="userBirthDate"
              id="userBirthDate"
              type="date"
              onfocus="this.placeholder = ''"
              onblur="this.placeholder = 'Select date of birth'"
              formControlName="userBirthDate"
              required
            />
          </div>

          <!-- ------------------location---------- -->
          <h6 class="form-title">Location</h6>
          <div class="form-group">
            <input
              pInputText
              class="form-control"
              name="userLocation"
              id="userLocation"
              type="text"
              onfocus="this.placeholder = ''"
              onblur="this.placeholder = 'Enter your location'"
              formControlName="userLocation"
              required
            />
          </div>
          <!-- -------------postal address-------- -->
          <h6 class="form-title">Postal Address</h6>
          <div class="form-group">
            <input
              pInputText
              class="form-control valid"
              name="userAddress"
              id="userAddress"
              type="text"
              onfocus="this.placeholder = ''"
              onblur="this.placeholder = 'Enter postal address'"
              formControlName="userAddress"
              required
            />
          </div>

          <!-- ----------------educational background--------- -->
          <h6 class="form-title">Select Highest Educational Level</h6>
          <div class="form-group">
            <select
              class="form-select"
              aria-label="Default select example"
              formControlName="userEducation"
              required
            >
              <option value="Elimentary">Elimentary Level</option>
              <option value="HighSchool">High School</option>
              <option value="Tertiary">Tertiary Level</option>
            </select>
          </div>

          <!-- -------------identification card type--------- -->
          <h6 class="form-title">Identification Type</h6>
          <div class="form-group">
            <select
              class="form-select"
              aria-label="Default select example"
              formControlName="userIdType"
              required
            >
              <option value="NationalId">National ID Card</option>
              <option value="DriversLincense">Drivers License</option>
              <option value="VotersId">Voters ID Card</option>
            </select>
          </div>
          <!-- --------------- card number------------ -->
          <h6 class="form-title">Identification Number</h6>
          <div class="form-group">
            <input
              pInputText
              class="form-control valid"
              name="userIdNumber"
              id="userIdNumber"
              type="text"
              onfocus="this.placeholder = ''"
              onblur="this.placeholder = 'Enter your card-number'"
              formControlName="userIdNumber"
              required
            />
          </div>
          <!-- =============view pdf============== -->
          <div class="py-1" *ngIf="pdfSrc != ''">
            <!-- {{ pdfSrc }} -->
            <pdf-viewer
              [src]="pdfSrc"
              [render-text]="true"
              [original-size]="false"
              [show-all]="false"
              [page]="1"
              style="height: 400px"
            ></pdf-viewer>
          </div>
          <!-- -----------pdf of card ----------- -->
          <h6 class="form-title">PDF of Identification Card</h6>
          <div class="input-group mb-3">
            <input
              type="file"
              (change)="upLoad($event)"
              name="userIdPdf"
              class="form-control"
              id="userIdPdf"
              accept=".pdf"
              formControlName="userIdPdf"
              required
            />
          </div>
          <!-- -------------disclaimer----------- -->
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              name="userAgreement"
              id="userAgreement"
              formControlName="userAgreement"
              required
            />
            <label class="form-check-label">
              I hereby declare that the information provided is true and
              correct. I also understand that any willful dishonesty may render
              for refusal of this application or immediate termination of
              employment.
            </label>
          </div>

          <!-- --------------submit button  --------- -->
          <div class="sub-button">
            <button
              type="submit"
              [disabled]="!applicationForm.valid"
              class="btn btn-info"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </Div>
</div>
<app-footer></app-footer>
