<div class="container-fluid">
  <!-- <div class="row"> -->
  <!-- <div class="container"> -->
  <div class="item pt-1">
    <!-- --------------intro area----------- -->
    <div class="col-lg-5 col-md-5 col-sm-12">
      <h1 class="text-center">Welcome to GuardLINK</h1>
      <h5>Create new account or login to continue</h5>
      <p><a routerLink="/contact">Contact Us</a> for support</p>
      <!-- ----------------login-------------- -->
      <a
        *ngIf="showLogin == false"
        class="btn btn-info"
        (click)="onShowLogin()"
        type="button"
        style="margin-right: 5px"
        >Login</a
      >
      <!-- ----------register------------ -->
      <a
        *ngIf="showLogin"
        class="btn btn-info"
        (click)="onShowRegister()"
        type="button"
        style="margin-right: 5px"
        >Register</a
      >
      <!-- ------------home page-------- -->
      <a
        class="btn btn-info"
        routerLink="/jobs"
        type="button"
        style="margin-right: 5px"
        >Jobs</a
      >
      <!-- -------------forgot password-------- -->
      <a class="btn btn-info" (click)="onForgotPassword()" type="button"
        >Forgot Password</a
      >
      <p>
        By creating account or using our services, you're agreeing to our
        <a routerLink="/policy">Privacy policy</a> and
        <a routerLink="/terms">Terms of service</a>
      </p>
    </div>
  </div>

  <!-- ------------=====login form========----------- -->
  <div class="item mb-3">
    <div class="col-lg-6 col-md-6 col-sm-12" *ngIf="showLogin">
      <h1 class="text-center">Login</h1>
      <p-card>
        <form [formGroup]="loginForm" (ngSubmit)="onLogIn()">
          <!----------------email address----------->
          <div class="form-group">
            <input
              pInputText
              class="form-control valid"
              name="email"
              id="email"
              type="email"
              onfocus="this.placeholder = ''"
              onblur="this.placeholder = 'Enter your email'"
              placeholder="Email Address"
              formControlName="userEmail"
              required
            />
          </div>

          <!-- --------------password-------- -->
          <div class="form-group">
            <input
              pInputText
              class="form-control valid"
              name="password"
              id="password"
              type="password"
              onfocus="this.placeholder = ''"
              onblur="this.placeholder = 'Enter your password'"
              placeholder="Password"
              formControlName="userPassword"
              required
            />
          </div>
          <!-- ------------login button---------- -->
          <div class="reg-button">
            <button
              type="submit"
              [disabled]="!loginForm.valid"
              class="btn btn-info"
            >
              Login
            </button>
          </div>
        </form>
      </p-card>
    </div>
  </div>

  <!-- ==============register card ==================== -->
  <div class="item mb-5" *ngIf="showLogin == false">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <h1 class="text-center">Create Account</h1>
      <p-card>
        <!-- ---------------name-------------- -->
        <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
          <div class="form-group">
            <input
              pInputText
              class="form-control valid"
              name="name"
              id="name"
              type="text"
              placeholder="Enter your name"
              formControlName="userName"
              required
            />
          </div>
          <!-- -------------phone number------------- -->
          <div class="form-group">
            <input
              pInputText
              class="form-control valid"
              name="Phone Number"
              id="Phone Number"
              type="text"
              onfocus="this.placeholder = 'Phone Number'"
              onblur="this.placeholder = 'Phone Number'"
              placeholder="Phone Number"
              formControlName="userContact"
              required
            />
          </div>
          <!-- ------------email address----------- -->
          <div class="form-group">
            <input
              pInputText
              class="form-control valid"
              name="email"
              id="email"
              type="email"
              onfocus="this.placeholder = ''"
              onblur="this.placeholder = 'Enter your email'"
              placeholder="Email Address"
              formControlName="userEmail"
              required
            />
          </div>
          <!-- ---------------password----------- -->
          <div class="form-group">
            <input
              pInputText
              class="form-control valid"
              name="password"
              id="password"
              type="password"
              onfocus="this.placeholder = 'Enter password'"
              onblur="this.placeholder = 'Enter password'"
              placeholder="Password"
              formControlName="userPassword"
              required
            />
          </div>
          <!-- ------------register button---------- -->
          <div class="reg-button">
            <button
              type="submit"
              [disabled]="!registerForm.valid"
              class="btn btn-info"
            >
              Register
            </button>
          </div>
        </form>
      </p-card>
    </div>
  </div>
  <!--  -->
  <!-- -----------------forgot password--------------- -->
  <p-dialog
    header="Forgot Password"
    [(visible)]="showForgotPassword"
    [style]="{ width: '70vw' }"
  >
    <div>
      <!----------------email address----------->
      <div class="form-group">
        <input
          pInputText
          class="form-control valid"
          name="email"
          id="email"
          type="email"
          onfocus="this.placeholder = ''"
          onblur="this.placeholder = 'Enter your email'"
          placeholder="Email Address"
          [(ngModel)]="forgot_email"
          required
        />
      </div>

      <!-- ------------reset password button---------- -->
      <div class="reg-button">
        <button type="submit" (click)="onResetPassword()" class="btn btn-info">
          Reset Password
        </button>
      </div>
    </div>
  </p-dialog>
</div>
