<div class="container-fluid py-2">
  <div class="row justify-content-center">
    <div class="col-sm-10 col-md-8 col-lg-8">
      <h3 class="text-center">Recent Jobs</h3>
      <!-- ---------------recent jobs----------- -->
      <!-- ==============loading spinner============== -->
      <div class="text-center" *ngIf="loading">
        <div
          class="spinner-border text-info"
          role="status"
          style="width: 3rem; height: 3rem"
        >
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
      <div class="row justify-content-center">
        <div
          class="col-sm-10 col-md-5 col-lg-4 py-2"
          *ngFor="let company of companies | slice : 0 : 3; index as i"
        >
          <div class="card">
            <img
              src="https://primefaces.org/cdn/primeng/images/usercard.png"
              class="card-img-top"
              alt="Logo"
            />

            <div class="card-body">
              <h5>{{ company["officeTitle"] }}</h5>
              <h6>{{ company["companyName"] }}</h6>
              <ul>
                <li>{{ company["companyLocation"] }}</li>

                <li>{{ company["staffType"] }}</li>
              </ul>
            </div>
            <div class="card-footer bg-info">
              <div class="sub-button">
                <a class="btn fw-bold" (click)="viewCompanyDetails(company)"
                  >Apply Now</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ------------featured jobs list--------------- -->
    <div class="col-sm-10 col-md-3 col-lg-3">
      <h2 class="text-center p-1">Featured Jobs</h2>
      <ul class="list-group list-group-flush">
        <li
          *ngFor="let item of featuredJobs; index as i"
          class="list-group-item list-group-item-action"
          (click)="getCategory(item)"
        >
          {{ item.name }}
        </li>
      </ul>
    </div>
  </div>
</div>
