<div class="container-fluid">
  <div class="container intro">
    <div class="col-6">
      <div class="d-flex justify-content-center">
        <img
          src="../../assets/images/guard_logo.png"
          width="200"
          height="200"
          class="img-fluid"
        />
      </div>
      <h4 class="text-center">Full name</h4>
      <h6>email address</h6>
      <!-- ------------buttons----------------- -->
      <div>
        <a class="btn btn-info" href="" style="margin-right: 10px"
          >Change Password</a
        >
        <a class="btn btn-info" routerLink="/" href="">Logout</a>
      </div>
    </div>
  </div>
  <!-- --------------applied jobs------------- -->
  <div class="container pt-2">
    <h4>Applied jobs</h4>
    <h6>Jobs you applied will appear here</h6>
    <ul class="list-group">
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
      <li class="list-group-item">A fourth item</li>
      <li class="list-group-item">And a fifth one</li>
    </ul>
  </div>
</div>
