.profile-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.intro {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
.container-fluid {
  background-image: url("../../assets/images/how-applybg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  color: #7bcff6;
}
li {
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .btn {
    margin-bottom: 5px;
  }
  h4 {
    text-align: center;
  }
}
