<app-navbar></app-navbar>
<div class="footer-gap">
  <!-- --------------- landing image and text---------- -->
  <div class="container-fluid landing_img">
    <div class="container">
      <h1>GuardLINK</h1>
      <h1>Find the most exciting jobs</h1>
      <a class="btn btn-info btn-lg" routerLink="/jobs" type="button"
        >Find a Job</a
      >
    </div>
  </div>

  <!-- ------------featured jobs----------------- -->

  <section class="feateured-jobs">
    <!-- <h2 class="text-center p-1">Featured Jobs</h2> -->
    <app-featured></app-featured>
  </section>

  <!----------------- how to appy-process-------- -->
  <section class="application-process">
    <div class="container-fluid apply-process">
      <div class="container">
        <!-- Section Tittle -->

        <div class="section-tittle text-center pb-3">
          <h1>How to apply</h1>
        </div>

        <!-- Apply Process Caption -->
        <div class="row process-row">
          <!--  -->

          <div class="col-lg-4 col-md-6">
            <div class="single-process text-center">
              <div class="process-ion">
                <i class="pi pi-search"></i>
              </div>
              <div class="process-cap">
                <h5>1. Search a job</h5>
                <p>
                  Scroll through the various jobs and offers provided in the
                  jobs section and select the preferred one.
                </p>
              </div>
            </div>
          </div>
          <!--  -->
          <div class="col-lg-4 col-md-6">
            <div class="single-process text-center">
              <div class="process-ion">
                <i class="pi pi-list"></i>
              </div>
              <div class="process-cap">
                <h5>2. Apply for job</h5>
                <p>
                  After finding the suitable job, go ahead and fill all the
                  necessary details needed to be considered.
                </p>
              </div>
            </div>
          </div>
          <!--  -->
          <div class="col-lg-4 col-md-6">
            <div class="single-process text-center">
              <div class="process-ion">
                <i class="pi pi-verified"></i>
              </div>
              <div class="process-cap">
                <h5>3. Get your job</h5>
                <p>
                  Applicant would be contacted when matched to their applied
                  jobs using their contact details.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- -------------- why choose us-------------- -->
  <section class="why-choose-us">
    <div class="container-fluid why-us">
      <div class="container">
        <!-- Section Tittle -->

        <div class="section-tittle text-center pb-3">
          <h1>Why choose us</h1>
        </div>

        <div class="row">
          <!--  -->
          <div class="col-lg-4 col-md-6">
            <div class="single-process text-center">
              <div class="process-ion">
                <i class="pi pi-verified"></i>
              </div>
              <div class="process-cap">
                <h5>1. Secured jobs</h5>
                <p>
                  We offer employment opportunities that offer a high level of
                  stability and job security to employees.
                </p>
              </div>
            </div>
          </div>
          <!--  -->
          <div class="col-lg-4 col-md-6">
            <div class="single-process text-center">
              <div class="process-ion">
                <i class="pi pi-home"></i>
              </div>
              <div class="process-cap">
                <h5>2. Free accommodation</h5>
                <p>
                  Employers are ready to provide free housing as a benefit to
                  employees.
                </p>
              </div>
            </div>
          </div>
          <!--  -->
          <div class="col-lg-4 col-md-6">
            <div class="single-process text-center">
              <div class="process-ion">
                <i class="pi pi-dollar"></i>
              </div>
              <div class="process-cap">
                <h5>3. Flexible payment</h5>
                <p>
                  Payment plan that is more convenient and manageable for both
                  parties
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<app-footer></app-footer>
